{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% load sekizai_tags %}
{% load staticfiles %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{% url 'hosts_host_list' %}">HOSTS</a></li>
        <li><a href="{% url 'hosts_host_detail' object.pk %}">{{ object }}</a></li>
        <li class="active">Members Administration</li>
    </ol>
{% endblock breadcrumb %}

{% block content %}
    <h1>Members Administration</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        Members of host <b>{{ object }}</b>
                    </h4>
                </div>

                <div class="panel-body">
                    {% render_table members_table %}
                </div>

                <div class="panel-footer clearfix">
                    <a class="btn btn-default btn-sm pull-right" href="{% url 'hosts_host_members_add' object.pk %}">
                        <i class="glyphicon glyphicon-plus-sign"></i> Add Member
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
